.card_bashboard {
  background-color: #3682B4;
  width: 250px;
  height: 360px;
  border-radius: 7px;
  color: #fff;
  @include align-elements(flex, center, center);
  transition: .4s ease-in; 
  margin: 5px;

  .content_card {
    text-align: center;
    padding: 30px;

    svg {
      font-size: 80px;
      margin-bottom: 20px;
    }

    p {
      font-size: 17px;
      margin-bottom: 20px;
    }

    span {
      font-size: 40px;
    }
  }
}