.user-header {
  width: 100%;
  padding: 26px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  filter: drop-shadow(2px -2px 5px #808080);

  .useful-links {
    display: flex;
    justify-content: center;
    align-items: center;

    .menuicon {
      width: 100px;
    
      svg {
        padding: 10px 20px;
        font-size: 30px;
        font-weight: 100;
        cursor: pointer;
        border: 2px solid transparent;
      }
    }

    a {
      padding: 3px 10px;
      border: 1px solid #009acc;
      border-radius: 20px;
      margin: 0 5px;
      color: #009acc;
      transition: .3s ease;
      
      &:hover {
        background-color: #009acc;
        color: #fff;
      } 
    }
  }
  
  .logo-menu {
    width: 50px;
    cursor: pointer;
  }

  .card-user-container {
    @include align-elements(flex, center, center);
    cursor: pointer;

    .icon-user {
      margin-left: 10px;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      @include align-elements(flex, center, center);

      img  {
        width: 80%;
      }
    }
  }

}





