// page-template styles
.container_vw {
  display: flex;
  width: 100%;
  
  .container_template {
    max-width: 1450px;
    margin: 0 auto;
    padding: 30px 0;
    background-color: red;
  }
}


//subtemplate styles
.meneger_card {
  display: flex;
  padding: 40px 0;
  width: 50%;
}

//container structure
.box_main_content {
  display: flex;
  width: 100%;
}