//config files
@import './partials/base';
@import './mixins/position';
@import './mixins/inputs';
@import './partials/variables';

//structure files
@import './partials/components/template';
@import './partials/components/greeting';
@import './partials/components/dashboard';

//components styles
@import './partials/components/cards/card-dashboard';
@import './partials/components/typography';
@import './partials/components/form-register';
@import './partials/components/menu-bar';

//structure pages
@import './user-report.scss';