//config files
@import './partials/base';
@import './mixins/position';

//structure files
@import './partials/components/template';
@import './partials/components/greeting';
@import './partials/components/dashboard';
@import './partials/components/menu-bar';

//components styles
@import './partials/components/cards/card-dashboard';
@import './partials/components/typography';
@import './partials/components/form-register';